data
node_modules
tmp
out
log
.vscode
**/.secret
**/.gdbinit
**/*.exe
**/*.torrent
**/*.prof
**/*.log
**/*.o
**/*.out
**/*.ipynb
**/*.iso
**/.DS_Store
**/adhoc-*
doc/**/*.aux
doc/**/*.bbl
doc/**/*.bcf
doc/**/*.blg
doc/**/*.fdb_latexmk
doc/**/*.fls
doc/**/*.idx
doc/**/*.ilg
doc/**/*.ind
doc/**/*.pdf
doc/**/*.toc
doc/**/*.run.xml
doc/**/*.synctex.gz
doc/**/figures/*.svg
doc/**/figures/*.pdf
src/adhoc*.*