data
node_modules
tmp
out
log
.vscode
.idea
build_debug/
build_release/
build/
cmake-build-*
ui/dt-ui-*
**/*-arm64
**/*.app
**/*.dmg
**/.secret
**/.gdbinit
**/*.exe
**/*.torrent
**/*.prof
**/*.log
**/*.o
**/*.out
**/*.ipynb
**/*.iso
**/.DS_Store
**/adhoc-*
**/CMakeCache.txt
**/CMakeUserPresets.json
**/CTestTestfile.cmake
**/CPackConfig.cmake
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
doc/**/*.aux
doc/**/*.bbl
doc/**/*.bcf
doc/**/*.blg
doc/**/*.fdb_latexmk
doc/**/*.fls
doc/**/*.idx
doc/**/*.ilg
doc/**/*.ind
doc/**/*.pdf
doc/**/*.toc
doc/**/*.run.xml
doc/**/*.synctex.gz
doc/**/figures/*.svg
doc/**/figures/*.pdf
src/adhoc*.*