.screen {
    display: flex;
    min-width: calc(100vw - 2*16px);
    height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
    color: #ccc;
    .highlight-text {
        color: #fff;
    }
    .default-text {
        color: #ccc;
    }
    .note-text {
        color: #888;
    }
    .note {
        color: #888;
        text-align: center;
    }
    .logo-large {
        height: 96px;
        margin-bottom: 32px;
    }
    h3 {
        font-size: 32px;
        line-height: 32px;
    }
    h4 {
        font-size: 20px;
        line-height: 20px;
    }
    .row {
        display: flex;
        align-items: end;
    }
    .row > div {
        margin-left: 16px;
        margin-right: 16px;
    }
    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h1 {
    margin: 0 0 32px 0;
}
h2 {
    margin: 0 0 16px 0;
}
h3, .h3 {
    margin: 0 0 8px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
}
.app {
    margin: 16px;
}
.background {
    width: 100%;
    min-height: calc(100vh);
    background-image: url("/static/background.png");
    background-size: cover;
}
.content {
    padding: 0 32px 0 32px;
}
.page-content {
    padding-bottom: 32px;
}
.content-centered {
    display: flex;
    flex-direction: column;
    min-width: calc(100vw - 2 * 32px);
    height: calc(100vh);
    justify-content: center;
    align-items: center;
    padding: 0 32px 0 32px;
}