.asset {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 50px;
    margin-bottom: 5px;
    color: #b2b2b2;
    padding: 0;

    .id {
        min-width: 150px;
        flex: 1 1 570px;
        margin-right: 16px;
        overflow: hidden;
    }
    .amount {
        min-width: 150px;
        flex: 0 0 auto;
        overflow: hidden;
        overflow-wrap: anywhere;
    }
}