.error {
    display: flex;
    width: 100%;
    height: calc(100vh);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(11, 11, 11, 0.6);

    .error-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 64px;
        border: #F15D2A 1px solid;
        border-radius: 10px;
        color: #fff;

        h3 {
            margin-bottom: 32px;
        }

        .message {
            margin: 4px 0 4px 0;
        }

        .buttons {
            margin-top: 32px;

            .exit-button {
                min-width: 150px;
            }
        }
    }
}