.hw-info {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  .resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    color: #867A80;
    text-align: center;
    white-space: nowrap;
  }
}