.nav-bar-container {
    padding-top: 32px;
}
.nav-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.6);
    border-radius: 10px;
    padding: 24px;

    .logo {
        margin-left: 0px;
        margin-right: 24px;
    }
    .logo-link {
        text-decoration: none;
    }
    .search {
        flex: 1 0 auto;
        min-width: 450px;
    }
}