.progress {
    max-width: 480px;
    width: 100%;
}
.progress-item {
    color: rgba(255, 255, 255, 0.7);
}
.progress-item.total {
    margin-bottom: 32px;
    color: white;
}
.duration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    .time-info {
        color: #867A80;
        margin-left: 32px;
        margin-right: 32px;
        text-align: center;
        white-space: nowrap;
        h2 {
            margin-bottom: 8px;
        }
        .note {
            margin-bottom: 8px;
        }
    }
    .time-info.eta {
        color: #f99d1c;
    }
}
.slot-range {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #867A80;
}