.search-box {
    display: flex;
    background-color: rgba(20, 20, 20, 0.6);
    border-radius: 10px;
    padding: 24px;
    .search-input {
        flex: 1 1 200px;
        min-width: 200px;
    }
    .search-button {
        margin-left: 24px;
        width: 160px;
        height: 56px;
        flex: 0 0 auto;
    }
}
.search-box.no-padding {
    padding: 0;
    background-color: inherit;
}