.transition {
    display: flex;
    width: 100%;
    height: calc(100vh);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(11, 11, 11, 0.6);
}