.tx {
    padding: 16px 0 0 0;

    .tx-header, .tx-inputs, .tx-outputs {
        margin-bottom: 16px;
        padding: 24px;
        background-color: rgba(20, 20, 20, 0.6);
        border-radius: 10px;
    }
    .tx-header {
        .row {
            min-height: 22px;
        }
    }
    .tx-input, .tx-output {
        color: #b2b2b2;
        padding: 8px;
        margin-bottom: 4px;
        a, a:visited, a:focus, a:hover, p {
            color: #b2b2b2;
        }
    }
    .tx-indexed {
        display: flex;
        align-items: center;
        .tx-index {
            margin-right: 8px;
            min-width: 24px;
        }
    }
    .tx-output {
        .tx-indexed {
            align-items: start;
            .amount {
                min-width: 150px;
                flex: 0 1 auto;
                margin-right: 8px;
            }
            .address {
                flex: 1 1 auto;
                min-width: 150px;
            }
        }
    }
}
