.tx-ref-list {
    background-color: rgba(20, 20, 20, 0.6);
    border-radius: 10px;
    padding: 24px;
    h3 {
        margin-bottom: 24px;
    }
    .tx-ref {
        .header {
            font-weight: 600;
            color: #b2b2b2;
        }
    }
}