.tx-ref {
    display: flex;
    justify-content: start;
    align-items: start;
    min-height: 50px;
    margin-bottom: 5px;
    color: #b2b2b2;
    padding: 0;

    div {
        margin-right: 16px;
    }
    .rel-stake {
        width: 80px;
    }
    .timestamp {
        width: 150px;
        flex: 0 0 150px;
    }
    .txo {
        width: 200px;
        flex: 0 0 200px;
        overflow: hidden;
    }
    .balance {
        min-width: 150px;
        flex: 1 1 auto;
        overflow: hidden;
        margin-right: 0;
        overflow-wrap: anywhere;
        p {
            margin-top: 0;
        }
    }
    p {
        color: #b2b2b2;
    }
    // only transaction hashes are presented in a link
    a, a:visited, a:focus, a:hover {
        color: #F15D2A;
        font-family: monospace;
    }
}