.sync-settings {
  margin: 64px 0 64px 0;
  text-align: left;
  .settings {
    h4 {
      margin-bottom: 16px;
    }
    .row {
      align-items: start;
    }
    p {
      margin: 0 32px 8px 0;
    }
    p.note-text {
      margin-top: -8px;
      margin-left: 32px;
    }
    .radio {
      align-items: center;
    }
    .col {
      justify-content: start;
      width: 300px;
      margin: 0 16px 0 16px;
    }
  }
  .actions {
    margin-top: 16px;
    justify-content: center;
    .col {
      margin: 0 16px 0 0;
    }
    .button {
      margin: 0;
      flex: 0 0 auto;
    }
  }
}
